<!doctype html>
{% load static %}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="theme-color" content="#F8F9FA" />
	<title>Future Pulse</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Engagement&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<script defer="defer" src="{% static 'client/js/main.e34d2a6f.js' %}"></script>
	<link href="{% static 'client/css/main.2b9a29d1.css' %}" rel="stylesheet" />
</head>
<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="root"></div>
</body>
</html>
